.DS_Store
.idea
nbproject
.php_cs.cache
node_modules
/var/*
!/var/labels
/vendor
/public/*
!/public/matomo
!/public/matomo/node_modules
/public/matomo/tmp
/public/matomo/misc/DBIP-City.mmdb
!/public/static
!/public/.htaccess
!/public/typo3conf
/public/typo3conf/*
!/public/typo3conf/.gitignore
!/public/typo3conf/LocalConfiguration.php
!/public/typo3conf/AdditionalConfiguration.php
/data/*
!/public/markup
.env
!/data/rechnungshof.sql.gz
auth.json
